<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>14_实战练习2</title>
</head>
<body>

<!--DOM-->
<div id="app" class="container">
	<div class="card row">
	<div class="card-header">too-list</div>
	<div class="card-body">
	add project:<input type="text" v-model="item.name" @keyup.enter="additem">
	</div>
	<div>
		<ul>
			<li v-for="(item,index) in pageItems">
				<span v-if="item.status==1" @click="item.status=3">{{item.name}}</span>
				<span v-if="item.status==2">
					<input type="text" v-model="item.name" @blur="item.status=1">
				</span>
				<span v-if="item.status==3" @dblclick="item.status=2">
					<del>{{item.name}}</del>	
				</span>
			</li>
		</ul>
	</div>
	<div>
		<ul class="pagination">
			<li class="page-item">
				<a class="page-link" href="#">上一页</a>
				<a class="page-link" href="#">1</a>
				<a class="page-link" href="#">2</a>
				<a class="page-link" href="#">下一页</a>
			</li>
			<li class="page-item active">
				<a class="page-link" href="#">1</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">2</a>	
			</li>
			<li class="page-item">
				<a class="page-link" href="#">下一页</a>
			</li>
		</ul>
	</div>
	</div>
</div>

<!--引入vue-->
<script src="../js/vue.js"></script>

<!--javascript-->
<script>
<!--vue&javascript-->
	var data={
	items:[
		{name:'item1',status:1},
		{name:'item2',status:2},
		{name:'item3',status:3},
		{name:'item4',status:1},
	],
	item:{
		name:'',
		status:1
	},
	pagesize:2,
	page:1
	};

	var vm=new Vue({
	el:'#app',
	data:data,
	computed:{
		pageItems:function(){
		var offset=(this.page-1)*this.pagesize;
		var endset=offset+this.pagesize;
		return this.items.slice(offset,endset);
		}
	},
	methods:{
		additem:function(){
			var newItem={
				name:this.item.name,
				status:1
			};
			this.items.push(newItem);
			this.item.name='';
		}
	}
	});
</script>
</body>
</html>